* {
    margin: 0;
    padding: 0;
}


/* @font-face {
    font-family: "Josefin Slab Regular";
    src: url("./assets/fonts/AnyConv.com__JosefinSlab-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
} */

body {
    background-color: #ECF4E8;
    display: flex;
}

.logo {
    background-color: #93BFC7;
    border: 2px solid #000000;
    text-align: center;
    font-family: sans-serif;
    align-content: center;
    color: #ECF4E8;
    flex: 4;
    height: 100vh;
}

.logo > h1 {
    font-size: 5rem;
}

.content {
    background-color: #ABE7B2;
    flex: 4;
    text-align: center;
}

label {
    font-family: sans-serif;
}

.display-container {
    background-color: #ABE7B2;
    border: 1px solid #000000;
    width: 100%;
    height: 84.3vh;
}
