* {
    margin: 0;
    padding: 0;
}


/* @font-face {
    font-family: "Josefin Slab Regular";
    src: url("./assets/fonts/AnyConv.com__JosefinSlab-Regular.woff2") format('woff2');
    font-weight: 400;
    font-style: normal;
} */

body {
    background-color: #ECF4E8;
    display: flex;
}

.logo {
    background-color: #93BFC7;
    text-align: center;
    font-family: sans-serif;
    align-content: center;
    color: #ECF4E8;
    flex: 4;
    height: 100vh;
}

.logo > h1 {
    font-size: 5rem;
}

.content {
    flex: 4;
}

label {
    font-family: sans-serif;
}

input {
    background-color: #ECF4E8;
    padding: 0.2rem;
    text-align: center;
    border: 1px solid black;
    border-radius: 0.7rem;
}

.input-container {
    display: flex;
    font-size: 1.5rem;
    flex-direction: column;
    gap: 2rem;
    padding: 5rem;
}

.input-container > button {
    font-size: 2rem;
}

form {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.display-container {
    background-color: #ABE7B2;
    height: 70vh;
}
