* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ECF4E8;
}

.container {
    display: flex;
    height: 100vh;
}

.logo {
    width: 40%;
    color: white;
}

.logo img {
    width: 100%;
    height: 100vh;
    filter: brightness(50%);
}

.logo-text {
    font-size: 8rem;
    position: absolute;
    top: 40%;
    left: 4%;
    text-shadow: 9px 9px rgba(0, 0, 0, 0.9);
}

.main {
    /* background: #ffffff; */
    background: #222831;
    width: 60%;
    text-align: center;
}

.btn-open {
    border: 1px solid white;
    background: #12161b;
    color: #EEEEEE;
    margin: 3rem 0 2rem 0;
    padding: 2rem 6rem;
    font-size: 2rem;
    border-radius: 1rem;
    outline: none;
}

.btn-open:hover {
    background-color: #EEEEEE;
    color: #393E46;
}

.btn-open:active {
    background-color: rgb(194, 174, 174);
}

.popup {
    text-align: center;
    width: 20%;
    height: 53vh;
    background: #EEEEEE;
    position: absolute;
    border-radius: 1rem;
    top: 0%;
    left: 35%;
    padding: 2.5rem;
    transform: translate(-50%, -50%) scale(0.1);
    visibility: hidden;
    transition: transform 0.4s, top 0.4s;
}

.open-popup {
    visibility: visible;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.popup > h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 4rem;
}

.popup input {
    padding: 0.4rem;
    margin: 1rem;
}

.btn-submit {
    padding: 1rem 8rem;
    margin: 1rem 0;
    font-size: 1.5rem;
    background-color: #6fd649;
    outline: none;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.btn-close {
    padding: 1rem 8rem;
    font-size: 1.5rem;
    background-color: #d64949;
    border: none;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.display-container {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}


